<html>
    <head>
    </head>
    <body>

        <h1>
            Please enter the details 
        </h1>
 

 

        <form action="/submit" method="post">
            
            
            <input type="text" name="date" placeholder="date(YYYY-MM-DD)" required="required"/>
            <input type="number" name="temp" placeholder="forecasted temp in celcius" required="required"/>
            <input type="number" name="rain" placeholder="forecasted rain in mm" required="required"/>
            <input type="text" name="holiday" placeholder="yes or no" required="required"/>
            

            
            
            
            
  
            
            

          
        <button type="submit">Predict</button>
        </form>
        
    </body>
</html>